*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8008, #FFC837);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8008, #FFC837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

a{
    text-decoration: none;
    transition: 0.2s opacity;
}

a:hover{
    opacity: 0.8;
}

.container{
    width: 90%;
    
}
main{
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}